{% extends '@!EasyAdmin/page/content.html.twig' %}

{% block content %}
<div class="content mt-4">
  <div class="badge d-flex justify-content-between">
    <div class="bg-success text-light p-3 px-5 h4 rounded mx-1 w-25">
      <p>代理商</p>
      <p class="m-0">{{countAgencies}}</p>
    </div>
    <div class="bg-primary text-light p-3 px-5 h4 rounded mx-1 w-25">
      <p>门店</p>
      <p class="m-0">{{countStroes}}</p>
    </div>
    <div class="bg-info text-light p-3 px-5 h4 rounded mx-1 w-25">
      <p>合作餐厅</p>
      <p class="m-0">{{countRestaurants}}</p>
    </div>
    <div class="bg-danger text-light p-3 px-5 h4 rounded mx-1 w-25">
      <p>顾客</p>
      <p class="m-0">{{countConsumers}}</p>
    </div>
  </div>

  <div>
    <h3>销售统计</h3>
    <canvas id="saleChart" width="400" height="400"></canvas>
  </div>

</div>
{% endblock content %}
{% block body_javascript %}
<script src='js/chart.min.js'></script>
<script src='js/initChart.js'></script> 
{% endblock body_javascript %}
